body {
    margin: 0;
    background-image: url("wallpaper5.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Quicksand", sans-serif;
    
  }
  
  .container {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-width: 800px;
    border-top: 10px solid rgb(19, 0, 129);
    border-bottom: 10px solid rgb(40, 6, 86);
    height: 90%;
    min-height: 100vh;
  }
  .input-area {
    position: relative;
  }
  .task-input {
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
    width: 80%;
    border: none;
    border: 1px solid rgb(182, 120, 148);
  }
 
  
 
  
  .button-add {
    border: none;
    background-color: rgb(255, 156, 156);
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  }
  .button-add:hover {
    background-color: rgb(182, 120, 148);
  }
  .button-add:active {
    background-color: #f3f4f6;
    box-shadow: -1px 2px 5px rgba(81, 41, 10, 0.15),
      0px 1px 1px rgba(81, 41, 10, 0.15);
    transform: translateY(0.125rem);
  }
  
  .task-list-container {
    border: 1px solid lightgray;
    margin-top: 1em;
    position: relative;
  }
  .tab-type {
    display: flex;
    border-bottom: 1px solid lightgray;
  }
  
  .tab-type div {
    padding: 1em;
    cursor: pointer;
  }
  
  #tab-underline {
    background-color: rgb(114, 69, 133);
    height: 4px !important;
    position: absolute;
    top: 52px;
    left: 0px;
    width: 48px;
    transition: 0.5s;
    padding: 0px;
  }
  
  .task {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid lightgray;
    position: relative;
  }
  .task span {
    padding: 1em;
  }
  .button-box {
    display: flex;
  }
  
  .button-box button {
    height: 100%;
    border: none;
    width: 5em;
    margin: 0;
    background-color: white;
    transition: 0.5s;
  }
  .button-box button :active {
    position: relative;
    top: 2px;
  }
  
  .button-box button:first-child:hover {
    background-color: rgb(1, 200, 1);
  }
  .button-box button:nth-child(2):hover {
    background-color: rgb(255, 110, 110);
  }
  
  .fa-check {
    color: rgb(0, 158, 3);
  }
  
  .fa-trash {
    color: red;
  }
  .fa-undo-alt {
    color: lightslategray;
  }
  
  .task-done {
    text-decoration: line-through;
    background-color: lightgray;
    transition: 0.5s;
  }
